* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.content {
  width: 1170px;
  max-width: 100%-48px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 144px;
  padding: 11px 41px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
  background: #171100;
  border-radius: 24.5px;
}
/* header */
.header.fixed {
  position: sticky;
  top: -28px;
}
.header {
  background: #fffcf4;
}
.header-body {
  display: flex;
  padding: 36px 0px 8px;
  align-items: center;
}
.nav ul {
  display: flex;
  margin-left: auto;
}
.header .logo {
  margin-right: auto;
}
.header .action {
  margin-left: 70px;
}
.nav ul li {
  margin-left: 42px;
}
.nav li a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: center;
  color: #5f5b53;
  position: relative;
}
.nav a:hover,
.nav ul li.active a {
  /* khong bi giat gi dua vao */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 2px;
  left: 0;
  bottom: 1px;
  background: #171100;
  border-radius: 1px;
}
.hero {
  background: #fffcf4;
}
.hero .body {
  display: flex;
  align-items: center;
  padding-top: 72px;
}
.hero .media-block {
  position: relative;
  padding-bottom: 65px;
}
.hero .media-block .media {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}
.hero-summary {
  display: flex;
  padding: 24px;

  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 270px;
  height: 244px;
  left: 300px;
  top: 393px;

  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item .icon {
  width: 48px;
  height: 48px;
  background: #fff9e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-summary .item .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.hero-summary .item .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.hero-summary .item-body {
  margin-left: 16px;
}
.hero .content-block {
  width: 470px;
  margin-left: 230px;
}
.hero .content-block .title {
  font-family: "Sen";
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #171100;
}
.hero .content-block .desc {
  margin-top: 22px;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.hero .content-block .row {
  display: flex;
  align-items: center;
}
.hero .content-block .row .btn {
  padding: 18px 40px;
  background: #ffb900;
  border-radius: 32px;
}
.hero .content-block .row .play-video {
  margin-left: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .row .play-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  background: #ffffff;
}
.hero .row .play-video .desc-r1 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.hero .row .desc-r2 {
  margin-top: 48px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.hero .row3-1 {
  display: flex;
  align-items: end;
}
.hero .row3-1:last-child {
  margin-left: 28px;
}
.hero .row3-1 .desc-value {
  padding-bottom: 3px;
  margin-left: 14px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.hero .row3-1 .value {
  font-family: "Sen";
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .popular-top .title {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}
.popular .popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.popular .popular-top .control {
  display: flex;
  gap: 18px;
}
.popular .popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #ffb900;
  border: 1px solid #ffb900;
  border-radius: 50%;
  background: transparent;
}
.popular-top .control-btn:hover {
  color: #fff;
  background-color: #ffb900;
  cursor: pointer;
}
.course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.course-list .course-item {
  flex: 1;
  border-radius: 12px;
}
.course-list .course-item:hover {
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.course-list .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.course-item .info {
  padding: 16px 22px 22px;
  border-radius: 0px 0px 12px 12px;
}
.course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-item .head .title a {
  padding-right: 5px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course-item .head .rate {
  display: flex;
  align-items: center;
  gap: 6px;
}
.course-item .head span {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
}
.course-item .desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course-item .desc:hover {
  overflow: auto;
}
.course-item .foot {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-item .foot span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.course-item .foot .btn {
  background: #171100;
  border-radius: 25px;
  color: #fff;
  border: none;
  min-width: 118px;
  padding: 11px 19px;
}
.course-item .foot .btn:hover {
  background: #ffb900;
  cursor: pointer;
}
/* feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;

  overflow: hidden;
}
.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-between;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback-item .title {
  margin-top: 18px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}
.feedback-item .desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
}
.feedback-item .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: #ffb900;
}
.feedback-content {
  width: 66%;
}
.feedback-content blockquote {
  margin-left: 30px;
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.feedback-content blockquote:hover {
  overflow: auto;
}
/* Feature */
.feature {
  margin-top: 200px;
}
.feature .body {
  display: flex;
  justify-content: space-between;
}
.feature .thumb {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.feature .thumb:first-child {
  margin-top: 34px;
}
.feature .image {
  display: flex;
  gap: 30px;
}
.feature .info {
  width: 41%;
}
.feature .info .title {
  margin-top: 58px;
  font-family: "Sen";
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.feature .info .desc {
  width: 96%;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.feature .info .btn {
  margin-top: 32px;
  background: #ffb900;
  border-radius: 26px;
  min-width: 137px;
  padding: 11px 37px;
}
.feature .info.second {
  width: 50%;
}
.feature .info .desc.second {
  width: 100%;
}
.feature .thumb.second {
  width: 470px;
  height: 440px;
  margin-top: 0px;
}
